.渐变色1
{
  background-image: linear-gradient(to right top, #ffffff, #f6f6f7, #ededee, #e4e5e6, #dbdcde, #c4c4c7, #aeadb0, #989799, #706f70, #4a494a, #272727, #000000);
}
.玻璃表单
{
  background-color: rgba(255, 255, 255, 0.05);

  backdrop-filter: blur(10px);
 
  box-shadow: 0 0 10px inset;
}
.背景组合 .图片覆盖一层
{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/footer.jpg) no-repeat;
  background-size: cover;
    /* 主要作用：

使背景图像相对于浏览器视窗固定，不会随页面滚动而移动
创建视差滚动(parallax scrolling)效果
背景图会保持在视窗中的固定位置 */
}

.现代卡片悬浮效果
{
    transform: translateY(-10px) rotateX(5deg) rotateY(5deg); /* 轻微浮动并旋转 */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); /* 增强阴影效果 */
}