
body
{
    height: 1300px;
    color: white;
}
.box
{
    width: 100px;
    height: 50px;
    background-color: red;
}
.navbar .nav-item .nav-link
{
    transition: .5s;
}
.navbar .nav-item .nav-link:hover
{
    cursor: pointer;
    background-color: white;
    color: black;


}

.nav-item .btn:hover
{
   background-color: white;
    color: black;
    
}
.profile
{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    margin-left: 10px;
    background-image: url(./image/微信图片_20241020222816.jpg);
    background-size: contain;
}
.search-form
{
    position: relative;
    height: 100vh;
    width: 100%;
    background: rgba(83, 79, 79, 0.8);
    display: flex;

    align-items: center;
    justify-content: center;

    z-index: 10000;
    transform: translateY(-100%);
    
    transition: 1s;
}
.active
{
    transform: translateY(0);
    
}
.search-form .input-form
{
    width: 70%;
    height: 5%;
  

}
.search-form .input-form input
{
    width: 100%;
    height: 100%;
    padding-left: 50px;

}
.search-form .small
{
    display: block;
    position: absolute;
    top: 80px;
    right: 20px;
    cursor: pointer;
}
.search-form .close
{
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
   
}
.small_active
{
    width: 50%;
    height: 50%;
    margin: 0 auto;

   
}